*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
build
/captures
.externalNativeBuild
.cxx
.DS_Store
*.apk
*.aab
*.ap_
*.hprof
local.properties
